@import '../variable/variable';

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}
body {
  background-color: $color-primary;
  color: $color-secondary;
}
ul {
  list-style-type: none;
}
.cultofoccult_headerbanner {
  filter: invert(100);
}
